.form-time {
  display: block;
  gap: 8px;
  margin-top: 32px;
  align-items: center;


}

.form-time input {
padding: 8px 12px;
font-size: 16px;
border: 1px solid #808080;
border-radius: 4px;
outline: none;
}

.form-time input:hover
.form-time input:focus
 {
  border: 1px solid #4e75ff;
}

.form-time button {
 padding: 8px 16px;
 font-size: 16px;
 background-color: #4e75ff;
 color: white;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 transition: background-color 250px cubic-bezier(0.4, 0, 0.2, 1);
}

.form-time button:disabled {
  color: #989898;
  background-color: #cfcfcf;
  cursor: not-allowed;
}

.timer {
  display: flex;
gap: 24px;
justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
   color: #2e2f42;

}